@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald display=swap');


* {
  margin: 0;
  padding: 0;
}

.menu {
  height: 80px;
  display: flex;
  align-items: center;
  background: #ff4655;
  width: 100%;
}

p[class="title"] {
  font-size: 50px;
}

p[id="search"] {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

p {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-family: 'Oswald', sans-serif;
}


a[class="title"] {
  text-decoration: none;
  color: black;
  margin: 0 0 0 50px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #ece8e1;
}

a[id="link-button"]:hover {
  color: #ff4655;
}

#button {
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  color: #ece8e1;
  padding: 10px 20px;
  background: #ff4655;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border: #ece8e1 solid 1px;
}

#button:hover {
  background: #ece8e1;
  color: #ff4655;
  border: solid 1px #ff4655;
  transition-delay: 150ms;
}

.title {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ece8e1;
  background: #dcd9d3;
}

.agents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 95%;
  padding: 10px 0;
  border: groove 1px #ff4655;
  margin: 10px 0 0 0;
  background: #0e1922;

}

.img img {
  height: 500;
  width: 600px;
}

.img {
  display: flex;
  justify-content: flex-start;
}

.text {
  display:  flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;
  gap: 50px;
}

select {
  margin: 10px 0 0 10px;
}

.loading {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weapons {
  margin: 10px 0 0 0;
  padding: 50px 0;
  display:  flex;
  gap: 60px;
}

footer {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0e1922;
  background: #dcd9d3;
  padding: 15vh 0 0 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  gap: 10px;
}

#git {
  height: 25px;
  width: 25px;
}

#linkedin {
  height: 30px;
  width: 30px;
}